.center {
     float: none !important;
     margin-left: auto !important;
     margin-right: auto !important;
}
.custom-sidebar {
	padding-left: 0px !important;
}
.page-with-sidebar {
	border-left: 1px solid #E5E5E5;
	padding-right: 0px !important;
}
.small-padding-right {
	padding-right: 5px;
}
.small-padding-top {
	padding-top: 5px;
}
.custom-middle {
	padding: 5px;
}

.page-wrapper {
	margin: 20px 0 20px !important;
}

.compact {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.vertical-middle {
	vertical-align: middle !important;
}

.white {
	color: white;
}

.custom-gli {
	color: #5cb85c;
	margin-right: 5px;
}

.custom-ckeditor-operations {
	padding-top: 10px;
	text-align: left !important;
}

.lightGrey {
	color: #6E6E6E !important;
}